.technologies {
    padding-top: 80px;
    padding-bottom: 40px;
    overflow: hidden;

    @include break(xs) {
        padding-bottom: 32px;
    }

    .mobile &,
    &.in-viewport {
        .col-md-3 {
            transform: translateY(0);
            opacity: 1;
            

            &:nth-child(2) {
                transition: all 1s ease;
            }
    
            &:nth-child(3) {
                transition: all 1s ease .5s;
            }
    
            &:nth-child(4) {
                transition: all 1s ease 1s;
            }
    
            &:nth-child(5) {
                transition: all 1s ease 1.5s;
            }
        }
    }

    .col-md-3 {
        transform: translateY(40px);
		opacity: 0;
        transition: all .1s ease;

        @include break(xs) {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .technology-figure {
        text-align: center;
    }
}
