.first-section {
    padding-top: 140px;
    padding-bottom: 80px;

    @include break(xs) {
        padding-top: 85px;
        padding-bottom: 48px;
    }

}

.first-section-img {
    display: block;
    width: 100%;

    @include break(sm) {
        max-height: 418px;
    }

    // @include break(xs) {
    //     max-width: calc(100vw - 64px);
    // }
}
