.wpcf7-form-control-wrap {
    display: block;
    position: relative;
}

.form-input {
    @extend %base-font-size;
    @extend %base-font-family;
    padding: 0 20px;
    color: #929aa0;
    width: 100%;
    max-width: 100%;
    height: 45px;
    position: relative;
    appearance: none;
    border: 2px solid #EAEAEB;
    border-bottom: 2px solid #BFC1C2;
    border-radius: 8px;
    color: #666666;

    &:focus,
    &:active {
        border-bottom: 2px solid #00C400;
    }

    &::placeholder,
    &::-webkit-input-placeholder {
        color: #999999;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 50000s ease-in-out 0s;
        -webkit-text-fill-color: #666666 !important;
        caret-color: #666666;
    }

    &.wpcf7-not-valid {
        border-bottom-color: #f00;
    }
}

.validation-input-msg,
.wpcf7-not-valid-tip {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);

    color: #f00;
    // TODO: change
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 5px;
}

.wrap-files {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-bottom: 36px;

    @include break(small) {
        flex-wrap: wrap;
    }
}

.form-checkbox {
    display: block;
    margin-top: 20px;

    @include break(small) {
        margin-top: 10px;
    }

    input {
        @extend %checkbox-input;
    }

    .wpcf7-list-item {
        margin: 0;
    }

    .wpcf7-list-item-label {
        @extend %base-font-size;
        @extend %checkbox-label-unchecked;
    }

    input:checked + .wpcf7-list-item-label:after {
        @extend %checkbox-label-checked;
    }
}

div.buttons,
div.wrap-submit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .ajax-loader {
        margin: 10px 0 0;
    }
}

.wpcf7-submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
