@import "_variables.scss";

%base-font-family {
	font-family: "Open Sans", sans-serif;
}

%base-font-size {
    font-size: 16px;
    line-height: 1.25;

    @include break(xs) {
        font-size: 14px;
    }
}

%link-reverse-line {
	position: relative;
	text-decoration: none;

	&:after {
		content: '';
		position: absolute;
		width: 0;
		left: 0;
		bottom: 0;
		background-color: currentColor;
		height: 2px;
		transition: width .3s;

		@include break(mobile) {
			display: none;
		}
	}

	&:hover {
		&:after {
			width: 100%;
		}
	}
}


%h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 1.375;

    @include break(xs) {
        font-size: 32px;
    }
}


%h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.25;

    @include break(xs) {
        font-size: 24px;
    }
}


%h3 {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.375;

	@include break(xs) {
        font-size: 20px;
    }
}


%h4 {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.333;

	@include break(xs) {
        font-size: 18px;
    }
}

%checkbox-input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

%checkbox-label-unchecked {
	position: relative;
	cursor: pointer;
	padding-left: 32px;

	&:before {
		content:'';
		appearance: none;
		padding: 12px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		vertical-align: middle;
		cursor: pointer;
		background: #FFFFFF;
		border: 1px solid #CCCCCC;
		border-radius: 8px;
	}

	&:hover:before {
		background: #E6FAE6;
		border: 1px solid #00C400;
	}
}

%checkbox-label-checked {
	// for before
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background: #00C400;
	border: 1px solid #00C400;
	border-radius: 8px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4LjY0NDUgNi40ODQzOEw4LjgwMDc4IDE2LjMyODFMNS4zMjAzMSAxMi44NDc3QzUuMTQ0NTMgMTIuNzA3IDQuODk4NDQgMTIuNzA3IDQuNzIyNjYgMTIuODQ3N0w0LjMzNTk0IDEzLjI2OTVDNC4xNjAxNiAxMy40MTAyIDQuMTYwMTYgMTMuNjkxNCA0LjMzNTk0IDEzLjg2NzJMOC41MTk1MyAxOC4wNTA4QzguNjYwMTYgMTguMTkxNCA4Ljk0MTQxIDE4LjE5MTQgOS4wODIwMyAxOC4wNTA4TDE5LjYyODkgNy41MDM5MUMxOS44MDQ3IDcuMzI4MTIgMTkuODA0NyA3LjA0Njg4IDE5LjYyODkgNi45MDYyNUwxOS4yNDIyIDYuNDg0MzhDMTkuMDY2NCA2LjM0Mzc1IDE4LjgyMDMgNi4zNDM3NSAxOC42NDQ1IDYuNDg0MzhaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
}
